@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

body > img{
    position:absolute;
}

main{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

img.top{
    top: 0;
    left: 0;
}

img.bottom{
    bottom: 0;
    right: 0;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
}

section{
    display: flex;
    gap: 3rem;
}

section .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:hsl(303, 10%, 53%);
    line-height: 1.5;
    font-weight: 500;
    width: 50%;
}


.description h1{
    font-size: 6rem;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    line-height: normal;
    margin-bottom: 30px;
}

section.recommend{
    display: flex;
    justify-content: space-between;
}

.opinions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color:hsl(300, 43%, 22%);
}

div .review{
    display: flex;
    gap: 2rem;
    background-color: hsl(300, 24%, 96%);
    padding: 20px 100px 20px 30px;
    border-radius: 10px;
    align-items: center;
    font-size: 20px;
    position: relative;
    transition: all 0.3s;
}

div .review:nth-child(2){
    left: 60px;
    padding: 20px 60px 20px 30px;
}

div .review:nth-child(3){
    left: 110px;
}

div.users{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(300, 43%, 22%);
    color:white;
    border-radius: 10px;
    padding: 40px 30px;
    font-size:16px;
    line-height: 1.5rem;
    width: 400px;
    position:relative;
    transition: all 0.3s;
}

div.users img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

div.users .profile{
    display: flex;
    gap:2rem;
    font-size: 15px;
    margin-bottom: 15px;
}

div.users .profile h3{
    color: hsl(333, 80%, 67%);
}

div.users:nth-child(2){
    top: 20px;
}

div.users:nth-child(3){
    top: 30px;
}

@media screen and (max-width: 1300px){
    
    body{
        height: 100%;
    }

    main{
        margin:50px 0;
    }

    section{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap:2rem;
        width: 100%;
    }

    .description h1{
        font-size: 4rem;
        text-align: center;
    }

    section .review{
        gap: 1rem;
        width: 100%;
        position:inherit;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px 30px !important;
    }

    section.recommend{
        text-align: start;
        gap:20px;
    }

    section.recommend .users{
        position: inherit;
    }

    body> img.bottom{
        display: none;
    }
    
}