@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink:hsl(322, 100%, 66%);
    --dark-cyan:hsl(192, 100%, 9%);
    --pale-cyan:hsl(193, 100%, 96%);
    --grayish-blue:hsl(208, 11%, 55%);
}

body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    color:var(--dark-cyan);
    font-size:18px;
}


.header{
    background-image: url(img/bg-hero-desktop.svg);
    background-color: var(--pale-cyan);
    background-size: cover;
}

.header img.mobile{
    display: none;
}

.header img.desktop{
    position:absolute;
    width: 100%;
    height: 850px;
    z-index: -1;
    object-fit: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

nav img{
    width: 150px;

}

nav a{
    text-decoration: none;
    color: var(--dark-cyan);
    font-weight: 700;
    font-size: 1.2rem;
    display:block;
    background-color: white;
    padding: 10px 60px;
    width: fit-content;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    gap:5rem;
}

header .header-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:30px;
    width: 30%;
}

header .header-image img{
    width: 100%;
    object-fit: cover;
}

header h1{
    font-size: 2.5rem;
    font-weight: 700;
}

header .header-content a{
    display: block;
    width: fit-content;
    text-align: center;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 15px;
    background-color: var(--pink);
    text-decoration: none;
    color:white;
    transition: all 0.3s ease;
}

section{
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

section .card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 6rem;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
    gap:5rem;
    width: 80%;
}

section .card img{
    width: 400px;
    object-fit: cover;
}

section .card .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

section .card .card-content h2{
    font-size: 1.5rem;
}

section .card .card-content p{
    color: var(--grayish-blue);
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-content{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px -5px 20px rgba(0,0,0,0.1);
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    width: fit-content;
    position: relative;
    z-index: 1;
    top:6rem;
    width: 60%;
    transition: all 0.3s ease;
}

.block-content a{
    display: block;
    margin: auto;
    width: fit-content;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--pink);
    text-decoration: none;
    color:white;
    transition: all 0.3s ease;
}

footer{
    background-color: var(--dark-cyan);
    padding: 10rem 6rem 3rem 6rem;
    display: flex;
    flex-direction: column;
    color:white;
}
footer svg{
    margin-bottom:30px;
}

footer .footer{
    display: grid;
    grid-template-columns: auto auto auto;
}
footer .footer .contact{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

footer a{
    text-decoration: none;
    color:white;
}

footer .footer li{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom:20px;
}

footer .footer li img{
    margin-top:5px;
}

footer .tags{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap:3rem;
    margin:0 5rem;
}

footer .tags .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

footer .socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}

footer .socials a{
    height: fit-content;
    border-radius: 50%;
    text-align: center;
    border:1px solid white;
}

footer .socials a i{
    font-size: 2rem;
    padding: 8px;
    transition: all 0.3s ease;
}

footer .copyright{
    margin-top:30px;
    text-align: end;
}

@media (max-width:1070px) {

    body{
        width: 100%;
    }

    body .header{
        background-image: url(img/bg-hero-mobile.svg);
        background-color: var(--pale-cyan);
        background-size: 100vw;

    }

    .header header{
        flex-direction: column;
        gap: 3rem;
    }

    .header .header-content{
        text-align: center;
        width: 80%;
        align-items: center;
    }

    section .card{
        flex-direction: column;
        text-align: center;
        gap: 3rem;
        padding: 3rem 6rem;
    }

    section .card:nth-child(odd){
        flex-direction: column-reverse;
    }


    footer .footer{
        display:flex;
        flex-direction: column;
    }

    footer .footer .tags{
        margin:0;
        margin-top:30px;
        justify-content: flex-start;
        flex-direction: column;
        gap:1rem;
    }

    footer .footer .socials{
        margin-top:40px;
    }
    footer p.copyright{
        text-align: center;
    }
}

@media (max-width:755px){
    body{
        
        font-size: 1rem;
    }

    nav{
        padding: 1rem 2rem;
    }

    nav a{
        font-size:15px;
        padding: 5px 20px;
    }
    
    header{
        padding: 2rem 2rem;
    }

    header .header-content{
        width: 100% !important;
    }

    header .header-content h1{
        font-size: 2rem;
        margin-top:30px;
    }

    section{
        padding: 3rem 1rem;
    }

    section .card{
        width: 100%;
        padding:1rem 2rem;
    }

    section .card img{
        width: 100%;
    }

    .block{
        margin:0 1rem;
    }

    .block .block-content{
        padding: 2.5rem 1rem;
        width: 100%;
        font-size: 12px;
    }

    .block .block-content a{
        font-size: inherit;
    }

    footer{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer .footer .contact{
        width: 100%;
    }
}
